body{
  color: #242424;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  @media($bp-larger-than-desktop) {
    font-size: 15px;
  }
}
body *{
  box-sizing: border-box;
}

.container{
  padding: 0 15px;
}
@media (max-width: 550px) {
  .phablet-container{
    width: 100%;
    padding: 0;
  }
}
.phablet-container{
  &__inside{
    padding: 0 15px;
    @media ($bp-larger-than-phablet) {
      padding: 0;
    }
  }
}
@media (max-width: 750px) {
  .tablet-container{
    width: 100%;
    padding: 0;
  }
}
.tablet-container{
  &__inside{
    padding: 0 15px;
    @media ($bp-larger-than-tablet) {
      padding: 0;
    }
  }
}
.in-mobile{
  display: inline;
  @media($bp-larger-than-phablet) {
    display: none;
  }
}
.in-desktop{
  display: none;
  @media($bp-larger-than-phablet) {
    display: inline;
  }
}
p{
  line-height: 120%;
  margin: 0 0 12px 0;
  font-size: 12px;
  @media($bp-larger-than-mobile) {
    font-size: 12px;
  }
}
a{
  color: #242424;
  outline: none;
  text-decoration: none;
  &:hover{
    color: $red;
    text-decoration: underline;
  }
}
button{
  outline: none;
}

.breadcrumbs{
  padding: 2px 0 11px;
  display: none;
  @media ($bp-larger-than-phablet) {
    display: block;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      margin: 0;
      padding: 0;
      display: inline-block;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: rgba(130, 130, 130, 0.9);
      +li{
        &:before{
          margin: 0 3px;
          content: "/";
          vertical-align: top;
          display: inline-block;
          background-repeat: no-repeat;
          color: #888888;
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    a{
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: #888;
      text-decoration: none;
      transition: $anim5;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
    span{
      color: #000;
    }
  }
}

.page-header{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 0 0 14px;
  @media ($bp-larger-than-phablet) {
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 33px;
  }
  > span{
    position: relative;
    display: flex;
    align-items: center;
    &:after{
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #7C2629;
      content: "";
      display: inline-block;
      margin: 0 2px;
      font-size: 0;
      margin-top: 2px;
    }
  }
  &__dots{
    display: flex;
    align-items: center;
    font-size: 0;
    margin-top: 2px;
    margin-left: 10px;
    &:before{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #7C2629;
      content: "";
      display: inline-block;
      margin: 0 2px;
    }
    &:after{
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #7C2629;
      content: "";
      display: inline-block;
      margin: 0 2px;
    }
  }
}

.stext{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-right: 0;
  @media ($bp-larger-than-tablet) {
    padding-right: 10px;
  }

  @media ($bp-larger-than-desktop) {
    padding-right: 60px;
  }

  p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    @media ($bp-larger-than-desktop) {
      line-height: 20px;
    }
  }
  ul{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    @media ($bp-larger-than-phablet) {
      line-height: 12px;
    }
    li{
      padding-left: 12px;
      position: relative;
      margin-bottom: 6px;
      @media ($bp-larger-than-phablet) {
        margin-bottom: 1rem;
      }
      &:before{
        display: inline-block;
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        top: 4px;
        left: 0px;
        background-color: $dark-red;
        border-radius: 50%;
      }
    }
  }
  ol{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
}

.btn{
  background: $dark-red;
  border-radius: 10px;
  height: 42px;
  width: 100%;
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  transition: $cubic02;
  text-decoration: none;
  border: 0 none;
  font-size: 14px;
  &:hover{
    background: $red;
    text-decoration: none;
    color: #fff;
  }
}

.btn-o{
  background-color: transparent;
  border: 1px solid $dark-red;
  border-radius: 10px;
  height: 42px;
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $dark-red;
  transition: $cubic02;
  text-decoration: none;
  &:hover{
    border-color: $red;
    text-decoration: none;
    color: $red;
  }
}

.topline{
  background: #E3CF9C;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #1D1D1D;
  display: none;
  position: relative;
  z-index: 5;
  @media ($bp-larger-than-tablet) {
    display: block;
  }
  &__grid{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu{
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
      li{
        margin: 0;
        padding: 0;
        + li {
          margin-left: 55px;
        }
        a{
          color: #1D1D1D;
          transition: $cubic02;
          &:hover{
            color: $red;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.logo{
  display: flex;
  //margin-bottom: 8px;
  @media ($bp-larger-than-tablet) {
    //margin-bottom: 0;
  }
  &__image{
    img{
      max-height: 34px;
      margin-top: 5px;
      @media ($bp-larger-than-tablet) {
        margin-top: 0;
        max-height: 61px;
      }
    }
  }
  &__content{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media ($bp-larger-than-tablet) {
      margin-left: 15px;
    }
  }
  &__header{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    @media ($bp-larger-than-iphone6) {
      font-size: 14px;
      line-height: 18px;
    }
    @media ($bp-larger-than-tablet) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 0;
    }
  }
  &__info{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #1D1D1D;
    display: none;
    @media ($bp-larger-than-tablet) {
      display: block;
    }
  }
}

.header{
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  z-index: 5;
  background: #FFFFFF;
  @media ($bp-larger-than-tablet) {
    border-bottom: 0 none;
  }
  &__body{
    display: flex;
    align-items: center;
    height: 56px;
    @media ($bp-larger-than-tablet) {
      height: 80px;
    }
  }
  &__logo{
    flex-shrink: 0;
  }
  &__phones{
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    @media ($bp-larger-than-tablet) {
      display: flex;
    }
    @media ($bp-larger-than-desktop) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__phone{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #1D1D1D;
    position: relative;
    transition: $cubic02;
    & + .header__phone{
      @media ($bp-larger-than-desktop) {
        padding-left: 20px;
        margin-left: 15px;
      }
      &:before{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $dark-red;
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        display: none;
        @media ($bp-larger-than-desktop) {
          display: block;
        }
      }
    }
    &:hover{
      text-decoration: none;
    }
  }
  &__callback{
    width: 214px;
    flex-shrink: 0;
    display: none;
    @media ($bp-larger-than-tablet) {
      display: block;
    }
  }
}
.header-mobile{
  &__phones{
    display: block;
    width: 100%;
    text-align: center;
    @media ($bp-larger-than-tablet) {
      display: none;
    }
  }
  &__phone{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #1D1D1D;
    padding-right: 12px;
    position: relative;
    @media ($bp-larger-than-iphone6) {
      padding-right: 15px;
      font-size: 14px;
      line-height: 16px;
    }
    @media ($bp-larger-than-phablet) {
      font-size: 18px;
      line-height: 21px;
    }
    &:before{
      content: "";
      width: 6px;
      height: 6px;
      border-bottom: 2px solid $dark-red;
      border-right: 2px solid $dark-red;
      position: absolute;
      transform: rotate(45deg);
      top: 1px;
      right: 0;
      @media ($bp-larger-than-iphone6) {
        top: 2px;
      }
    }
  }
  &__burger{
    display: block;
    @media ($bp-larger-than-tablet) {
      display: none;
    }
  }
}
.nav{
  background: $dark-red;
  display: none;
  @media ($bp-larger-than-tablet) {
    display: block;
  }
  &__grid{
    height: 35px;
    display: flex;
    align-items: center;
  }
}

.burger{
  //background: #08c;
  border-radius: 10px;
  height: 35px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 2px;
  position: relative;
  flex-direction: column;
  span{
    height: 2px;
    border-radius: 1px;
    width: 100%;
    display: block;
    background: transparent;
  }
  &__line-one{
    transition: $anim;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      width: 100%;
      background: $dark-red;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0);
      transform-origin: 100% 0;
      transition: $cubic;
    }
  }
  &__line-two{
    margin: 5px 0;
    transition: $anim;
    position: relative;
    opacity: 1;
    &:before{
      content: "";
      display: inline-block;
      width: 100%;
      background: $dark-red;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0);
      transform-origin: 100% 0;
      transition: $cubic;
    }
  }
  &__line-three{
    transition: $anim5;
    position: relative;

    &:before{
      content: "";
      display: inline-block;
      width: 100%;
      background: $dark-red;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0);
      transform-origin: 100% 0;
      transition: $cubic;
    }
  }
}
.mobile-menu {
  position: absolute;
  background-color: $dark-red;
  transform: translateY(-100%);
  top: 56px;
  left: 0;
  right: 0;
  transition: $cubic;
  z-index: 2;
}
body.show-slide-menu{
  .mobile-menu{
    transform: translateY(0);
  }
  .burger{
    &__line-one{
      &:before{
        transform: rotate(-45deg);
        left: -1px;
      }
    }
    &__line-two{
      opacity: 0;
    }
    &__line-three{
      &:before{
        transform: rotate(45deg);
        top: 1px;
      }
    }
  }
}

.mobmenu{
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
  li{
    margin: 0;
    padding: 0;
    a{
      color: #fff;
      text-decoration: none;
      height: 46px;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      padding: 0 15px;
      position: relative;
      &:hover{
        text-decoration: none;
      }
    }
    &.submenu{
      background: $red;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none;
      padding: 0 15px;
      li{
        & + li {
          a{
            border-top: 1px solid #991c14;
          }
        }
      }
      a{
        padding: 0;
      }
    }
    &.open{
      > a{
        &:before{
          content: "";
          display: inline-block;
          left: 0;
          right: 0;
          top: 100%;
          height: 1px;
          background-color: #991c14;
          position: absolute;
        }
      }
      .mobmenu__arrow{
        &:before{
          transform: rotate(-135deg);
          top: 16px;
        }
      }
    }
  }
  &__arrow {
    position: absolute;
    width: 12px;
    height: 7px;
    right: 10px;
    top: 2px;
    padding: 20px;
    &:before {
      content: "";
      width: 7px;
      height: 7px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 13px;
      right: 8px;
    }
  }
}
.pagemenu{
  margin: 10px 0 10px 0;
  padding: 10px 0 0 0;
  list-style-type: none;
  position: relative;
  &:before{
    background-color: #a86f70;
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    height: 1px;
    top: 0px;
  }
  li{
    margin: 0;
    padding: 0;
    a{
      color: #fff;
      text-decoration: none;
      height: 46px;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      padding: 0 15px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.phones-menu {
  position: absolute;
  background-color: $dark-red;
  transform: translateY(-100%);
  top: 56px;
  left: 0;
  right: 0;
  transition: $cubic;
  z-index: 2;
}
body.show-phones-menu{
  .phones-menu{
    transform: translateY(0);
  }
  .header-mobile__phone{
    &:before{
      transform: rotate(-135deg);
      top: 6px;
    }
  }
}
.phonemenu{
  margin: 10px 0 10px 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    a {
      color: #fff;
      text-decoration: none;
      height: 35px;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      padding: 0 15px;
      position: relative;
      text-align: center;
      justify-content: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.topmenu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & > li{
    width: 275px;
  }
  li{
    margin: 0;
    padding: 0;
    position: relative;
    &.submenu{
      background: $red;
      flex-shrink: 0;
      a{
        &:hover{
          color: #fff;
        }
      }
      li{
        & + li {
          border-top: 1px solid #E5E5E5;
        }
        a{
          display: flex;
          height: 46px;
          font-size: 13px;
          line-height: 15px;
          color: #000000;
          &:hover{
            color: $red;
          }
        }
      }
    }
    &:hover{
      & > ul {
        //display: block;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        z-index: 1;
      }
      .topmenu__arrow{
        &:before{
          transform: rotate(-135deg);
          top: 5px;
        }
      }
    }
    ul {
      //display: none;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      //width: 245px;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      list-style-type: none;
      margin: 0;
      padding: 0 10px 0;
      //z-index: -1000;
      z-index: 1;
      transition: $cubic;
      transform: translateY(15px);

    }
  }
  a{
    color: #fff;
    text-decoration: none;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $cubic02;
    position: relative;
    &:hover{
      text-decoration: none;
      color: #d4d4d4;
    }
  }
  &__arrow{
    position: absolute;
    width: 12px;
    height: 7px;
    right: 10px;
    top: 12px;
    &:before{
      content: "";
      width: 7px;
      height: 7px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 0px;
    }
  }
}

.bottom-line{
  background: $dark-red;
  &__grid{
    padding: 14px 0;
    align-items: center;
    display: flex;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    flex-direction: column;
    @media ($bp-larger-than-tablet) {
      height: 40px;
      flex-direction: row;
      padding: 0;
    }
    @media ($bp-larger-than-desktop) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__copyright{
    position: relative;
    white-space: nowrap;
    @media ($bp-larger-than-tablet) {
      margin-right: 10px;
      padding-right: 10px;
    }
    &:after{
      display: none;
      content: "|";
      position: absolute;
      right: 0;
      @media ($bp-larger-than-tablet) {
        display: inline-block;
      }
    }
  }
  &__menu{
    margin: 8px 0;
    @media ($bp-larger-than-tablet) {
      margin: 0;
      width: 100%;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      li{
        margin: 0;
        padding: 0;
        position: relative;
        a{
          color: #fff;
          transition: $cubic02;
          &:hover{
            color: #d4d4d4;
            text-decoration: none;
          }
        }
        & + li {
          margin-left: 10px;
          padding-left: 10px;
          &:before{
            display: inline-block;
            content: "|";
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
  &__develop{
    white-space: nowrap;
    a{
      color: #fff;
      transition: $cubic02;
      &:hover{
        color: #d4d4d4;
        text-decoration: none;
      }
    }
  }
}

.footer{

  background: #E3CF9C;
  &__body{
    display: flex;
    align-items: center;
    height: 112px;
    @media ($bp-larger-than-tablet) {
      height: 112px;
    }
  }
  &__logo{
    flex-shrink: 0;
  }
  &__phones{
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    @media ($bp-larger-than-tablet) {
      display: flex;
    }
    @media ($bp-larger-than-desktop) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__phone{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #1D1D1D;
    position: relative;
    transition: $cubic02;
    @media ($bp-larger-than-desktophd) {
      font-size: 18px;
      line-height: 21px;
    }
    & + .footer__phone{
      @media ($bp-larger-than-desktop) {
        padding-left: 20px;
        margin-left: 15px;
      }
      &:before{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $dark-red;
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        @media ($bp-larger-than-desktop) {

        }
        @media ($bp-larger-than-desktophd) {
          top: 7px;
        }
      }
    }
    &:hover{
      text-decoration: none;
    }
  }
  &__contacts{
    width: 260px;
    flex-shrink: 0;
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #1D1D1D;
    @media ($bp-larger-than-tablet) {
      display: block;
    }
  }
}
