.contacts{
  .header-styled{
    font-weight: normal;
    margin: 0 0 20px;
    @media ($bp-larger-than-phablet) {
      font-size: 22px;
    }
  }
  &__top{
    display: flex;
    margin-bottom: 32px;
    flex-direction: column;
    @media ($bp-larger-than-desktop) {
      flex-direction: row;
    }
  }
  &__left{
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 18px;
    @media ($bp-larger-than-phablet) {
      margin-bottom: 0;
    }
    @media ($bp-larger-than-desktop) {
      width: 484px;
      padding-right: 50px;
    }
  }
  &__right{
    width: 100%;
    text-align: center;
    @media ($bp-larger-than-desktop) {
    }
    img{
      height: 200px;
      object-fit: cover;
      margin-top: 10px;
      @media ($bp-larger-than-phablet) {
        height: 330px;
      }
      @media ($bp-larger-than-desktophd) {
        height: 440px;
      }
    }
  }
  &__bottom{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    justify-content: center;
    @media ($bp-larger-than-desktophd) {
      margin-right: -30px;
      margin-left: -30px;
      justify-content: space-between;
    }
  }
  &__item{
    width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
    @media ($bp-larger-than-tablet) {
      width: 50%;
    }
    @media ($bp-larger-than-desktop) {
      width: 33.33%;
      margin-bottom: 0;
    }
    @media ($bp-larger-than-desktophd) {
      padding: 0 30px;
    }
  }
  &__card{
    max-width: 340px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
    @media ($bp-larger-than-desktophd) {
      padding: 40px 20px;
    }
  }
  &__image{
    margin-bottom: 25px;
    img{
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }
  &__post{

  }
  &__name{
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  &__phones{
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
  }
  &__phone{
    position: relative;
    padding-left: 24px;
    &:before{
      position: absolute;
      content: "";
      @include sprite($phone);
      left: 0;
      top: 2px;
    }
    & + .contacts__phone{
      margin-left: 10px;
    }
  }
  &__mail{
    position: relative;
    padding-left: 22px;
    &:before{
      position: absolute;
      content: "";
      @include sprite($mail);
      left: 0;
      top: 4px;
    }
  }
  a{
    &:hover{
      text-decoration: none;
      color: $red;
    }
  }
}
#map{
  height: 378px;
  @media ($bp-larger-than-phablet) {
    height: 486px;
  }
}

.contact-department{
  border-bottom: 4px solid #F7F7F7;
  padding-bottom: 17px;
  margin-bottom: 25px;
  @media ($bp-larger-than-phablet) {
    margin-bottom: 16px;
  }
  &__header{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  &__fax{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  &__phones{
    display: flex;
    flex-wrap: wrap;
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: 2px;
    @media ($bp-larger-than-phablet) {
      margin-bottom: 14px;
    }
  }
  &__item{
    width: 50%;
    padding: 0 9px;
    margin-bottom: 15px;
    @media ($bp-larger-than-phablet) {
      width: 33.33%;
      margin-bottom: 0;
    }
    a{
      font-size: 18px;
      line-height: 20px;
      color: #7C2629;
    }
  }
}
.contact-props{
  &__header{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 14px;
  }
  &__info{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    @media ($bp-larger-than-phablet) {
      margin-bottom: 14px;
    }
  }
  b{
    font-size: 16px;
  }
}

.popover {
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 1010;
  border-radius: 5px;
  &__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      display: none;
      @media ($bp-larger-than-phablet) {
        display: inline-block;
      }
    }
  }
  &__address {
    margin-bottom: 2px;
    display: block;
  }

}
.popover .close {
  position: absolute;
  right: 5px;
  top: 1px;
  text-decoration: none;
  color: #333;
  display: none;
}

.popover-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
@media (min-width: 360px) {
  .popover-inner {
    font-size: 12px;
  }
}
.popover-inner > ymaps {
  display: inline-block !important;
  width: 100% !important;
  padding: 3px 7px 3px 10px;
  white-space: nowrap;
}

.contacts-bottom-text{
  background: #F7F7F7;
  padding: 32px 0 10px;
  margin-top: 16px;
  @media ($bp-larger-than-phablet) {
    margin-top: 25px;
  }
  &__body{
    padding-right: 0;
    p{
      font-weight: 300;
      text-align: justify;
      margin-bottom: 6px;
      font-size: 13px;
      line-height: 15px;
      @media ($bp-larger-than-phablet) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
