<div class="catalog-menu">
    <div class="catalog-menu__header">Каталог</div>
    <div class="catalog-menu__grid">
        <ul>
            <li>
                <a href="#">Шоубоксы из картона</a>
                <span class="catalog-menu__arrow"></span>
                <ul>
                    <li><a href="#">Коробки самосборные</a></li>
                    <li class="active"><a href="#">Коробки самосборные</a></li>
                    <li><a href="#">Коробки самосборные</a></li>
                    <li><a href="#">Коробки самосборные</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Гофротара для продуктов</a>
                <span class="catalog-menu__arrow"></span>
                <ul>
                    <li><a href="#">Коробки самосборные</a></li>
                    <li class="active"><a href="#">Коробки самосборные</a></li>
                    <li><a href="#">Коробки самосборные</a></li>
                    <li><a href="#">Коробки самосборные</a></li>
                </ul>
            </li>
            <li><a href="#">Самосборные гофрокороба</a></li>
            <li><a href="#">Картонные коробки для упаковки</a></li>
            <li class="active">
                <a href="#">Коробки самосборные</a>
                <span class="catalog-menu__arrow"></span>
                <ul>
                    <li><a href="#">Коробки самосборные</a></li>
                    <li class="active"><a href="#">Коробки самосборные</a></li>
                    <li><a href="#">Коробки самосборные</a></li>
                    <li><a href="#">Коробки самосборные</a></li>
                    <li><a href="#">Коробки самосборные</a></li>
                </ul>
            </li>
            <li><a href="#">Гофрированный картон</a></li>
            <li><a href="#">Гофрокороб Шкатулка</a></li>
            <li><a href="#">Четырехклапанные гофрокороба</a></li>
            <li><a href="#">Коробки для пиццы</a></li>
            <li><a href="#">Крупногабаритные короба</a></li>
            <li><a href="#">Овощные лотки</a></li>
            <li><a href="#">Гофротара для продуктов</a></li>
            <li><a href="#">Упаковка для плоских изделий</a></li>
            <li><a href="#">Гофрированный картон</a></li>
            <li><a href="#">Гофрокороб Шкатулка</a></li>
            <li><a href="#">Четырехклапанные гофрокороба</a></li>
        </ul>
    </div>
</div>