<div class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__logo">
                <div class="footer-logo">
                    <div class="footer-logo__image">
                        <img src="/assets/template/images/footer-logo.png" alt="">
                    </div>
                    <div class="footer-logo__content">
                        <div class="footer-logo__header">
                            ЗАО “Файнд-К”
                        </div>
                        <div class="footer-logo__info">
                            Все виду гофрокартона,<br />
                            оптом и в розницу
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__phones">
                <a href="tel:88125917211" class="footer__phone">8 (812) 591 72 11</a>
                <a href="tel:88125917210" class="footer__phone">8 (812) 591 72 10</a>
                <a href="tel:88125917100" class="footer__phone">8 (812) 591 71 00</a>
            </div>
            <div class="footer__contacts">
                <div class="footer__address">
                    Адрес: 196158, Санкт-Петербург,<br />
                    Б.Сампсониевский пр., д. 82, оф. 1
                </div>
                <div class="footer__req">
                    ИНН: 780000000000,<br />
                    ОГРН 0000000000000000000<br />
                    Email: info@find-k.ru
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-line">
    <div class="container">
        <div class="bottom-line__grid">
            <div class="bottom-line__copyright">
                Все права защищены 1998 - 2020
            </div>
            <div class="bottom-line__menu">
                <ul>
                    <li><a href="#">Карта сайта</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="bottom-line__develop">
                Разработка сайта: <a href="#">Creative-lab.pro</a>
            </div>
        </div>
    </div>
</div>

<!-- @if NODE_ENV='development' -->

<link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/assets/template/vendor/slick/slick-theme.css"/>

<link rel="stylesheet" href="/assets/template/vendor/fancybox/jquery.fancybox.min.css" />
<link href="/assets/template/vendor/formstyler/jquery.formstyler.css" rel="stylesheet" />
<link href="/assets/template/vendor/formstyler/jquery.formstyler.theme.css" rel="stylesheet" />
<!-- @endif -->
<!-- @if NODE_ENV='development' -->
<script src="/assets/template/vendor/jquery-3.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/template/vendor/formstyler/jquery.formstyler.min.js"></script>

<script src="/assets/template/vendor/jquery.inputmask.bundle.js"></script>
<script src="/assets/template/vendor/slick/slick.js"></script>
<script src="/assets/template/vendor/owlcarousel/owl.carousel.js"></script>
<script src="assets/template/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/assets/template/vendor/scroller/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/template/js/scripts.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='production' -->
<script src="/assets/template/js/all.js?v=2"></script>
<!-- @endif -->
</body>
</html>