<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- @if NODE_ENV='development' -->
    <link rel="stylesheet" href="/assets/template/vendor/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/template/vendor/owlcarousel/owl.theme.default.css">
    <link rel="stylesheet" href="/assets/template/vendor/scroller/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="assets/template/css/app.min.css?v=2">
    <!-- @endif -->
</head>
<body>

<div class="header-box">
    <div class="topline">
        <div class="container">
            <div class="topline__grid">
                <div class="topline__address">
                    Санкт-Петербург, Б.Сампсониевский пр., д. 82, оф. 1
                </div>
                <div class="topline__menu">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Полезное</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__logo">
                    <div class="logo">
                        <div class="logo__image">
                            <img src="/assets/template/images/logo.jpg" alt="">
                        </div>
                        <div class="logo__content">
                            <div class="logo__header">
                                ЗАО “Файнд-К”
                            </div>
                            <div class="logo__info">
                                Все виду гофрокартона,<br />
                                оптом и в розницу
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__phones">
                    <a href="tel:88125917211" class="header__phone">8 (812) 591 72 11</a>
                    <a href="tel:88125917210" class="header__phone">8 (812) 591 72 10</a>
                    <a href="tel:88125917100" class="header__phone">8 (812) 591 71 00</a>
                </div>
                <div class="header__callback">
                    <a href="#" class="btn-o">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="container">
            <div class="nav__grid">
                <ul class="topmenu">
                    <li class="submenu">
                        <a href="#">Гофрокартон</a>

                    </li>
                    <li><a href="#">Гофроупаковка</a></li>
                    <li><a href="#">Гидрофобная добавка</a></li>
                    <li><a href="#">Услуги</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>