//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="articles.html">Каталог статей</a></li>
                <li><span>Статья</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="article-list">
    <div class="container">
        <div class="article">
            <h1 class="page-header"><span>Название статьи <span class="page-header__dots"></span></span></h1>
            <div class="article__image">
                <img src="/assets/template/images/articles.png" alt="">
            </div>
            <div class="article__info stext">
                <p>ЗАО "Файнд-К" было основано в 1998 году на базе коммерческих отделов ТОО "Файнд" и ОАО "АтомЭнергоСтройМонтаж", которые выполняли работы по ремонту и реконструкции Ленинградской атомной электростанции и других объектов.
                    Со дня основания компании ЗАО "Файнд-К" основным видом деятельности является оптовая поставка упаковки из гофрированного картона. За более чем десятилетнее существование, компания завоевала заметное место на рынке гофрокартона Санкт-Петербурга.
                    С 2007 года ЗАО "Файнд-К" представляет интересы израильского завода "Dor Group", производящего гидрофобные добавки в крахмальные клеи, используемые при производстве гофрокартона. Со дня основания компании ЗАО "Файнд-К" основным видом деятельности является оптовая поставка упаковки из гофрированного картона. За более чем десятилетнее существование, компания завоевала заметное место на рынке гофрокартона Санкт-Петербурга.
                    С 2007 года ЗАО "Файнд-К" представляет интересы израильского завода "Dor Group", производящего гидрофобные добавки в крахмальные клеи, используемые при производстве гофрокартона.</p>
                <p>Использование качественной упаковки, в которой развозится по адресам пицца, позволяет:</p>
                <ul>
                    <li>
                        доставить продукт, сохранив его форму и вкус;
                    </li>
                    <li>
                        подчеркнуть статус и фирменный стиль поставщика;
                    </li>
                    <li>
                        выгодно выделиться на фоне конкурентов.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->