//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li><span>Каталог статей</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="articles">
    <div class="container">
        <h1 class="page-header"><span>Полезное <span class="page-header__dots"></span></span></h1>

        <div class="articles__list">

            <div class="articles__item">
                <a href="#" class="articles-card">
                    <div class="articles-card__image">
                       <img src="/assets/template/images/articles.png" alt="">
                    </div>
                    <div class="articles-card__header">
                        Название статьи
                    </div>
                    <div class="articles-card__info">
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира,
                        открывая новые горизонты. Интеллект естественно понимает под собой интеллигибельный за
                    </div>
                </a>
            </div>

            <div class="articles__item">
                <a href="#" class="articles-card">
                    <div class="articles-card__image">
                        <img src="/assets/template/images/articles.png" alt="">
                    </div>
                    <div class="articles-card__header">
                        Название статьи
                    </div>
                    <div class="articles-card__info">
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира,
                        открывая новые горизонты. Интеллект естественно понимает под собой интеллигибельный за
                    </div>
                </a>
            </div>

            <div class="articles__item">
                <a href="#" class="articles-card">
                    <div class="articles-card__image">
                        <img src="/assets/template/images/articles.png" alt="">
                    </div>
                    <div class="articles-card__header">
                        Название статьи
                    </div>
                    <div class="articles-card__info">
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира,
                        открывая новые горизонты. Интеллект естественно понимает под собой интеллигибельный за
                    </div>
                </a>
            </div>

            <div class="articles__item">
                <a href="#" class="articles-card">
                    <div class="articles-card__image">
                        <img src="/assets/template/images/articles.png" alt="">
                    </div>
                    <div class="articles-card__header">
                        Название статьи
                    </div>
                    <div class="articles-card__info">
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира,
                        открывая новые горизонты. Интеллект естественно понимает под собой интеллигибельный за
                    </div>
                </a>
            </div>

            <div class="articles__item">
                <a href="#" class="articles-card">
                    <div class="articles-card__image">
                        <img src="/assets/template/images/articles.png" alt="">
                    </div>
                    <div class="articles-card__header">
                        Название статьи
                    </div>
                    <div class="articles-card__info">
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира,
                        открывая новые горизонты. Интеллект естественно понимает под собой интеллигибельный за
                    </div>
                </a>
            </div>

            <div class="articles__item">
                <a href="#" class="articles-card">
                    <div class="articles-card__image">
                        <img src="/assets/template/images/articles.png" alt="">
                    </div>
                    <div class="articles-card__header">
                        Название статьи
                    </div>
                    <div class="articles-card__info">
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира,
                        открывая новые горизонты. Интеллект естественно понимает под собой интеллигибельный за
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>


//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->