//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="catalog">Каталог</a></li>
                <li><span>Коробки самосборные</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="card">
    <div class="container">
        <div class="card__body">
            <div class="card__grid">
                <div class="card__sidebar">
                    <div class="catalog-menu">
                        <div class="catalog-menu__header">Каталог</div>
                        <div class="catalog-menu__grid">
                            <ul>
                                <li>
                                    <a href="#">Шоубоксы из картона</a>
                                    <span class="catalog-menu__arrow"></span>
                                    <ul>
                                        <li><a href="#">Коробки самосборные</a></li>
                                        <li class="active"><a href="#">Коробки самосборные</a></li>
                                        <li><a href="#">Коробки самосборные</a></li>
                                        <li><a href="#">Коробки самосборные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Гофротара для продуктов</a>
                                    <span class="catalog-menu__arrow"></span>
                                    <ul>
                                        <li><a href="#">Коробки самосборные</a></li>
                                        <li class="active"><a href="#">Коробки самосборные</a></li>
                                        <li><a href="#">Коробки самосборные</a></li>
                                        <li><a href="#">Коробки самосборные</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Самосборные гофрокороба</a></li>
                                <li><a href="#">Картонные коробки для упаковки</a></li>
                                <li class="active">
                                    <a href="#">Коробки самосборные</a>
                                    <span class="catalog-menu__arrow"></span>
                                    <ul>
                                        <li><a href="#">Коробки самосборные</a></li>
                                        <li class="active"><a href="#">Коробки самосборные</a></li>
                                        <li><a href="#">Коробки самосборные</a></li>
                                        <li><a href="#">Коробки самосборные</a></li>
                                        <li><a href="#">Коробки самосборные</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Гофрированный картон</a></li>
                                <li><a href="#">Гофрокороб Шкатулка</a></li>
                                <li><a href="#">Четырехклапанные гофрокороба</a></li>
                                <li><a href="#">Коробки для пиццы</a></li>
                                <li><a href="#">Крупногабаритные короба</a></li>
                                <li><a href="#">Овощные лотки</a></li>
                                <li><a href="#">Гофротара для продуктов</a></li>
                                <li><a href="#">Упаковка для плоских изделий</a></li>
                                <li><a href="#">Гофрированный картон</a></li>
                                <li><a href="#">Гофрокороб Шкатулка</a></li>
                                <li><a href="#">Четырехклапанные гофрокороба</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card__content">
                    <div class="card__header">
                        <h1 class="page-header"><span>Коробки для пиццы <span class="page-header__dots"></span></span></h1>
                    </div>
                    <p>2222222222</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="catalog-top-text">
    <div class="container">
        <div class="catalog-top-text__grid">
            <div class="catalog-top-text__body stext">
                <h1 class="page-header"><span>Коробки самосборные <span class="page-header__dots"></span></span></h1>

                <p>Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
                    Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
                    Сомнение рефлектирует естественный закон исключённого третьего. Надстройка нетривиальна. Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Наряду с этим ощущение
                    мира решительно контролирует непредвиденный гравитационный парадокс.</p>

            </div>
            <div class="catalog-top-text__sidebar">
                <div class="sidebar-widget">
                    <div class="sidebar-widget__header">
                        Не хотите искать? Вы можете
                    </div>
                    <div class="sidebar-widget__body">
                        <div class="sidebar-widget__buttons">
                            <div class="sidebar-widget__button">
                                <a href="#" class="btn">Купить готовые коробки</a>
                            </div>
                            <div class="sidebar-widget__button">
                                <a href="#" class="btn-o">Заказ по вашим размерам</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="catalog catalog-with-sidebar">
    <div class="container">
        <div class="catalog__grid">
            <div class="catalog__sidebar">
                <div class="catalog-menu">
                    <div class="catalog-menu__header">Каталог</div>
                    <div class="catalog-menu__grid">
                        <ul>
                            <li>
                                <a href="#">Шоубоксы из картона</a>
                                <span class="catalog-menu__arrow"></span>
                                <ul>
                                    <li><a href="#">Коробки самосборные</a></li>
                                    <li class="active"><a href="#">Коробки самосборные</a></li>
                                    <li><a href="#">Коробки самосборные</a></li>
                                    <li><a href="#">Коробки самосборные</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Гофротара для продуктов</a>
                                <span class="catalog-menu__arrow"></span>
                                <ul>
                                    <li><a href="#">Коробки самосборные</a></li>
                                    <li class="active"><a href="#">Коробки самосборные</a></li>
                                    <li><a href="#">Коробки самосборные</a></li>
                                    <li><a href="#">Коробки самосборные</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Самосборные гофрокороба</a></li>
                            <li><a href="#">Картонные коробки для упаковки</a></li>
                            <li class="active">
                                <a href="#">Коробки самосборные</a>
                                <span class="catalog-menu__arrow"></span>
                                <ul>
                                    <li><a href="#">Коробки самосборные</a></li>
                                    <li class="active"><a href="#">Коробки самосборные</a></li>
                                    <li><a href="#">Коробки самосборные</a></li>
                                    <li><a href="#">Коробки самосборные</a></li>
                                    <li><a href="#">Коробки самосборные</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Гофрированный картон</a></li>
                            <li><a href="#">Гофрокороб Шкатулка</a></li>
                            <li><a href="#">Четырехклапанные гофрокороба</a></li>
                            <li><a href="#">Коробки для пиццы</a></li>
                            <li><a href="#">Крупногабаритные короба</a></li>
                            <li><a href="#">Овощные лотки</a></li>
                            <li><a href="#">Гофротара для продуктов</a></li>
                            <li><a href="#">Упаковка для плоских изделий</a></li>
                            <li><a href="#">Гофрированный картон</a></li>
                            <li><a href="#">Гофрокороб Шкатулка</a></li>
                            <li><a href="#">Четырехклапанные гофрокороба</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="catalog__list">

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/1.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Коробка для упаковки
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/2.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофрокороб поддон
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/3.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Коробки для молочных<br /> продуктов
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/4.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофрокороб Шкатулка
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/5.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Картонная обечайка
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/6.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Рыбный короб
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/7.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Коробка для упаковки
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/8.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Самосборные гофрокороба
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/4.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофрокороб Шкатулка
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/3.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Коробки для молочных<br /> продуктов
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/8.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофроизделие решетка
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/5.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Картонная обечайка
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/8.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофроизделие решетка
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/9.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофрокоробки для фруктов
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/2.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофрокороб поддон
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/9.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Гофрокоробки для фруктов
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/7.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Самосборные гофрокороба
                        </div>
                    </a>
                </div>

                <div class="catalog__item">
                    <a href="#" class="catalog-card-box">
                        <div class="catalog-card-box__image">
                            <img src="/assets/template/images/box/6.png" alt="">
                        </div>
                        <div class="catalog-card-box__name">
                            Рыбный короб
                        </div>
                    </a>
                </div>


            </div>
        </div>

        <div class="consultation-form">
            <div class="consultation-form__header">
                Остались вопросы? Оставьте заявку и мы свяжемся с вами в ближайшее время!
            </div>
            <div class="consultation-form__grid">
                <div class="consultation-form__fields">
                    <div class="consultation-form__items">
                        <div class="consultation-form__item">
                            <input type="text" placeholder="ФИО*" />
                        </div>
                        <div class="consultation-form__item">
                            <input type="text" placeholder="Телефон*" data-mask="+7(999)999-99-99"/>
                        </div>
                    </div>
                    <div class="consultation-form__item">
                        <textarea name="message" placeholder="Сообщение*"></textarea>
                    </div>
                </div>
                <div class="consultation-form__actions">
                    <button class="btn">Заказать звонок</button>
                    <div class="consultation-form__policy">
                        Нажимая на кнопку, вы даете согласие на обработку персональных данных в соответствии с
                        <a href="#">Политикой Конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="catalog-bottom-text">
    <div class="container">
        <div class="catalog-bottom-text__grid">
            <div class="catalog-bottom-text__body stext">
                <h2 class="page-header"><span>SEO - текст <span class="page-header__dots"></span></span></h2>
                <p>ЗАО "Файнд-К" было основано в 1998 году на базе коммерческих отделов ТОО "Файнд" и ОАО "АтомЭнергоСтройМонтаж", которые выполняли работы по ремонту и реконструкции Ленинградской атомной электростанции и других объектов.
                    Со дня основания компании ЗАО "Файнд-К" основным видом деятельности является оптовая поставка упаковки из гофрированного картона. За более чем десятилетнее существование, компания завоевала заметное место на рынке гофрокартона Санкт-Петербурга.
                    С 2007 года ЗАО "Файнд-К" представляет интересы израильского завода "Dor Group", производящего гидрофобные добавки в крахмальные клеи, используемые при производстве гофрокартона. Со дня основания компании ЗАО "Файнд-К" основным видом деятельности является оптовая поставка упаковки из гофрированного картона. За более чем десятилетнее существование, компания завоевала заметное место на рынке гофрокартона Санкт-Петербурга.
                    С 2007 года ЗАО "Файнд-К" представляет интересы израильского завода "Dor Group", производящего гидрофобные добавки в крахмальные клеи, используемые при производстве гофрокартона.</p>
                <p>Использование качественной упаковки, в которой развозится по адресам пицца, позволяет:</p>
                <ul>
                    <li>
                        доставить продукт, сохранив его форму и вкус;
                    </li>
                    <li>
                        подчеркнуть статус и фирменный стиль поставщика;
                    </li>
                    <li>
                        выгодно выделиться на фоне конкурентов.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->