//= include/header.html

<div class="categories">
    <div class="container">
        <h2 class="page-header"><span>Популярные категории <span class="page-header__dots"></span></span></h2>
        <div class="catalog__list">
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/6.jpg')">
                    <div class="catalog-card__name">
                        Гофрированный картон
                    </div>
                </a>
            </div>
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/2.jpg')">
                    <div class="catalog-card__name">
                        Гофротара для продуктов
                    </div>
                </a>
            </div>
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/3.jpg')">
                    <div class="catalog-card__name">
                        Самосборные гофрокороба
                    </div>
                </a>
            </div>
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/8.png')">
                    <div class="catalog-card__name">
                        Четырехклапанные гофрокороба
                    </div>
                </a>
            </div>
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/6.jpg')">
                    <div class="catalog-card__name">
                        Гофрированный картон
                    </div>
                </a>
            </div>
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/2.jpg')">
                    <div class="catalog-card__name">
                        Гофротара для продуктов
                    </div>
                </a>
            </div>
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/3.jpg')">
                    <div class="catalog-card__name">
                        Самосборные гофрокороба
                    </div>
                </a>
            </div>
            <div class="catalog__item">
                <a href="#" class="catalog-card" style="background-image: url('/assets/template/images/catalog/8.png')">
                    <div class="catalog-card__name">
                        Четырехклапанные гофрокороба
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="advantages">
    <div class="container">
        <h2 class="page-header"><span>Преимущества работы с нами <span class="page-header__dots"></span></span></h2>
        <div class="advantages__list">
            <div class="advantages__item">
                <div class="advantages__image">
                    <img src="/assets/template/images/advantages-1.png" alt="">
                </div>
                <div class="advantages__card">
                    <div class="advantages__header">
                        На заказ
                    </div>
                    <div class="advantages__info">
                        Изготавливаем гофротару на заказ по вашим размерам и пожеланиям
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__image">
                    <img src="/assets/template/images/advantages-2.png" alt="">
                </div>
                <div class="advantages__card">
                    <div class="advantages__header">
                        Свое производство
                    </div>
                    <div class="advantages__info">
                        Можем обеспечить большие тиражи и оперативные сроки изготовления
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__image">
                    <img src="/assets/template/images/advantages-3.png" alt="">
                </div>
                <div class="advantages__card">
                    <div class="advantages__header">
                        Экологичность
                    </div>
                    <div class="advantages__info">
                        Используем  сырье из ответственных сточников
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__image">
                    <img src="/assets/template/images/advantages-4.png" alt="">
                </div>
                <div class="advantages__card">
                    <div class="advantages__header">
                        Дизайн
                    </div>
                    <div class="advantages__info">
                        Индивидуальная
                        конструкция и дизайн упаковки
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="catalog-bottom-text">
    <div class="container">
        <div class="catalog-bottom-text__grid">
            <div class="catalog-bottom-text__body stext">
                <h2 class="page-header"><span>SEO - текст <span class="page-header__dots"></span></span></h2>
                <p>ЗАО "Файнд-К" было основано в 1998 году на базе коммерческих отделов ТОО "Файнд" и ОАО "АтомЭнергоСтройМонтаж", которые выполняли работы по ремонту и реконструкции Ленинградской атомной электростанции и других объектов.
                    Со дня основания компании ЗАО "Файнд-К" основным видом деятельности является оптовая поставка упаковки из гофрированного картона. За более чем десятилетнее существование, компания завоевала заметное место на рынке гофрокартона Санкт-Петербурга.
                    С 2007 года ЗАО "Файнд-К" представляет интересы израильского завода "Dor Group", производящего гидрофобные добавки в крахмальные клеи, используемые при производстве гофрокартона. Со дня основания компании ЗАО "Файнд-К" основным видом деятельности является оптовая поставка упаковки из гофрированного картона. За более чем десятилетнее существование, компания завоевала заметное место на рынке гофрокартона Санкт-Петербурга.
                    С 2007 года ЗАО "Файнд-К" представляет интересы израильского завода "Dor Group", производящего гидрофобные добавки в крахмальные клеи, используемые при производстве гофрокартона.</p>
            </div>
        </div>
    </div>
</div>

//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->