//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="/menu.html">Главная страница</a></li>
                <li><span>Оглавление</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="textpage">
    <div class="container">
        <div class="textpage__body stext fix-height">
            <h1>Оглавление</h1>
            <h2>Верстка страниц</h2>
            <ul>
                <li><a href="/index.html">Главная страница</a></li>
                <li><a href="/catalog.html">Каталог товаров под заказ</a></li>
                <li><a href="/catalog-cartons.html">Каталог товаров под заказ. Коробки самосборные</a></li>
                <li><a href="/card.html">Карточка товаров под заказ</a></li>
                <li><a href="/contacts.html">Контакты</a></li>
                <li><a href="/catalog-table.html">Каталог готовой продукци</a></li>
                <li><a href="/articles.html">Каталог статей</a></li>
                <li><a href="/article.html">Статья</a></li>
            </ul>
            <h2>Всплывающие окна</h2>
            <ul>
                <li><a href="#order" data-fancybox="">Заказ по вашим размерам</a></li>
                <li><a href="#callback" data-fancybox="">Заказать звонок</a></li>
                <li><a href="#buy" data-fancybox="">Купить готовую продукцию</a></li>
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>


<div style="display: none;">
    <div id="order" class="order-popup">
        <div class="order-form-popup">
            <div class="order-form-popup__header">заказ по вашим размерам</div>
            <div class="order-form-popup__row">
                <input type="text" placeholder="ФИО*" class="input" />
            </div>
            <div class="order-form-popup__row">
                <div class="order-form-popup__items">
                    <div class="order-form-popup__item">
                        <input type="text" placeholder="Телефон*" class="input" data-mask="+7(999)999-99-99" />
                    </div>
                    <div class="order-form-popup__item">
                        <input type="text" placeholder="Email" class="input" />
                    </div>
                </div>
            </div>
            <div class="order-form-popup__row">
                <div class="order-form-popup__label">
                    Габариты (см)
                </div>
                <div class="order-form-popup__items">
                    <div class="order-form-popup__item">
                        <input type="text" placeholder="Ширина" class="input" />
                    </div>
                    <div class="order-form-popup__multy">x</div>
                    <div class="order-form-popup__item">
                        <input type="text" placeholder="Глубина" class="input" />
                    </div>
                    <div class="order-form-popup__multy">x</div>
                    <div class="order-form-popup__item">
                        <input type="text" placeholder="Высота" class="input" />
                    </div>
                </div>
            </div>
            <div class="order-form-popup__row">

                <div class="order-form-popup__items">
                    <div class="order-form-popup__item order-form-popup__item--count">
                        <div class="order-form-popup__label">
                            Количество
                        </div>
                        <input type="text" placeholder="Кол-во" class="input" value="10" />
                    </div>
                    <div class="order-form-popup__item">
                        <div class="order-form-popup__label">
                            Марка картона
                        </div>
                        <select name="" class="styler">
                            <option>Т-21</option>
                            <option>Т-22</option>
                            <option>Т-100</option>
                        </select>
                    </div>
                    <div class="order-form-popup__item">
                        <div class="order-form-popup__label">
                            Нанесение печати
                        </div>
                        <select name="" class="styler">
                            <option>Без печати</option>
                            <option>С печатью</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="order-form-popup__row">
                <div class="order-form-popup__actions">
                    <div class="order-form-popup__button">
                        <button class="btn">Заказать</button>
                    </div>
                    <div class="order-form-popup__privacy">
                        Нажимая на кнопку, вы даете согласие
                        на обработку персональных данных
                        в соответствии с <a href="#">политикой конфиденциальности</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="callback" class="callback-popup">
        <div class="callback-form-popup">
            <div class="callback-form-popup__header">Заказать звонок</div>
            <div class="callback-form-popup__row">
                <input type="text" placeholder="ФИО*" class="input" />
            </div>
            <div class="callback-form-popup__row">
                <div class="callback-form-popup__items">
                    <div class="callback-form-popup__item">
                        <input type="text" placeholder="Телефон*" class="input" data-mask="+7(999)999-99-99" />
                    </div>
                    <div class="callback-form-popup__item">
                        <input type="text" placeholder="Email" class="input" />
                    </div>
                </div>
            </div>
            <div class="callback-form-popup__row">
                <div class="callback-form-popup__actions">
                    <div class="callback-form-popup__button">
                        <button class="btn">Заказать</button>
                    </div>
                    <div class="callback-form-popup__privacy">
                        Нажимая на кнопку, вы даете согласие
                        на обработку персональных данных
                        в соответствии с <a href="#">политикой конфиденциальности</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="buy" class="buy-popup">
        <div class="buy-form-popup">
            <div class="buy-form-popup__header">Купить готовую продукцию</div>
            <div class="buy-form-popup__row">
                <input type="text" placeholder="ФИО*" class="input" />
            </div>
            <div class="buy-form-popup__row">
                <div class="buy-form-popup__items">
                    <div class="buy-form-popup__item">
                        <input type="text" placeholder="Телефон*" class="input" data-mask="+7(999)999-99-99" />
                    </div>
                    <div class="buy-form-popup__item">
                        <input type="text" placeholder="Email" class="input" />
                    </div>
                </div>
            </div>

            <div class="buy-form-popup__row">

                <div class="buy-form-popup__items">
                    <div class="buy-form-popup__item">
                        <div class="buy-form-popup__product">
                            <div class="buy-form-popup__image">
                                <img src="/assets/template/images/catalog/1.png" alt="">
                            </div>
                            <div class="buy-form-popup__name">
                                Гофрированный картон
                            </div>
                        </div>
                    </div>
                    <div class="buy-form-popup__item buy-form-popup__item--count">
                        <div class="buy-form-popup__label">
                            Количество
                        </div>
                        <input type="text" placeholder="Кол-во" class="input" value="10" />
                    </div>
                </div>
            </div>
            <div class="buy-form-popup__row">
                <div class="buy-form-popup__actions">
                    <div class="buy-form-popup__button">
                        <button class="btn">Заказать</button>
                    </div>
                    <div class="buy-form-popup__privacy">
                        Нажимая на кнопку, вы даете согласие
                        на обработку персональных данных
                        в соответствии с <a href="#">политикой конфиденциальности</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->